.blockDiv {
  display: block;
}

.hiddenDiv {
  display: none;
}

button {
  height: 30px;
}

.correct {
  color: white;
  background-color: #6aaa64
}

.present {
  color: white;
  background-color: #c9b458;
}

.absent {
  /* color: white; */
  /* background-color: #787c7e; */
}

.collapsible {
  /* background-color: #777;
  color: white; */
  cursor: pointer;
  /* padding: 18px; */
  /* width: 100%; */
  /* border: none; */
  /* text-align: left; */
  /* outline: none; */
  /* font-size: 15px; */
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
